(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2020 4 22 10 39 30)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 4.1i"))))
   (comment "This file is owned and controlled by Xilinx and must be used
solely for design, simulation, implementation and creation of design files
limited to Xilinx devices or technologies. Use with non-Xilinx devices or
technologies is expressly prohibited and immediately terminates your license.
Xilinx products are not intended for use in life support appliances, devices,
or systems. Use in such applications are expressly prohibited.
Copyright (C) 2001, Xilinx, Inc.  All Rights Reserved.")
   (comment "Core parameters: ")
       (comment "MemData129 = 0 ")
       (comment "MemData128 = 0 ")
       (comment "MemData127 = 0 ")
       (comment "MemData126 = 0 ")
       (comment "MemData125 = 0 ")
       (comment "MemData124 = 0 ")
       (comment "MemData123 = 0 ")
       (comment "MemData122 = 0 ")
       (comment "MemData121 = 0 ")
       (comment "MemData120 = 0 ")
       (comment "Depth = 16 ")
       (comment "MemData119 = 0 ")
       (comment "MemData118 = 0 ")
       (comment "MemData117 = 0 ")
       (comment "MemData116 = 0 ")
       (comment "MemData115 = 0 ")
       (comment "MemData114 = 0 ")
       (comment "MemData113 = 0 ")
       (comment "MemData112 = 0 ")
       (comment "MemData111 = 0 ")
       (comment "MemData110 = 0 ")
       (comment "MemData99 = 0 ")
       (comment "MemData98 = 0 ")
       (comment "MemData97 = 0 ")
       (comment "MemData96 = 0 ")
       (comment "MemData109 = 0 ")
       (comment "MemData95 = 0 ")
       (comment "MemData108 = 0 ")
       (comment "MemData94 = 0 ")
       (comment "MemData107 = 0 ")
       (comment "MemData93 = 0 ")
       (comment "MemData106 = 0 ")
       (comment "MemData92 = 0 ")
       (comment "MemData105 = 0 ")
       (comment "MemData91 = 0 ")
       (comment "MemData104 = 0 ")
       (comment "MemData90 = 0 ")
       (comment "MemData103 = 0 ")
       (comment "MemData102 = 0 ")
       (comment "MemData101 = 0 ")
       (comment "MemData100 = 0 ")
       (comment "Data_Width = 8 ")
       (comment "MemData89 = 0 ")
       (comment "MemData88 = 0 ")
       (comment "MemData87 = 0 ")
       (comment "MemData86 = 0 ")
       (comment "MemData85 = 0 ")
       (comment "MemData84 = 0 ")
       (comment "MemData83 = 0 ")
       (comment "MemData82 = 0 ")
       (comment "MemData81 = 0 ")
       (comment "MemData255 = 0 ")
       (comment "MemData80 = 0 ")
       (comment "MemData254 = 0 ")
       (comment "MemData253 = 0 ")
       (comment "MemData252 = 0 ")
       (comment "MemData251 = 0 ")
       (comment "MemData250 = 0 ")
       (comment "MemData79 = 0 ")
       (comment "MemData78 = 0 ")
       (comment "MemData77 = 0 ")
       (comment "MemData76 = 0 ")
       (comment "MemData75 = 0 ")
       (comment "MemData249 = 0 ")
       (comment "MemData74 = 0 ")
       (comment "MemData248 = 0 ")
       (comment "MemData73 = 0 ")
       (comment "MemData247 = 0 ")
       (comment "MemData72 = 0 ")
       (comment "MemData246 = 0 ")
       (comment "MemData71 = 0 ")
       (comment "MemData245 = 0 ")
       (comment "MemData70 = 0 ")
       (comment "MemData244 = 0 ")
       (comment "MemData243 = 0 ")
       (comment "MemData242 = 0 ")
       (comment "MemData241 = 0 ")
       (comment "MemData240 = 0 ")
       (comment "MemData69 = 0 ")
       (comment "MemData68 = 0 ")
       (comment "MemData67 = 0 ")
       (comment "MemData66 = 0 ")
       (comment "MemData65 = 0 ")
       (comment "MemData239 = 0 ")
       (comment "MemData64 = 0 ")
       (comment "MemData238 = 0 ")
       (comment "MemData63 = 0 ")
       (comment "MemData237 = 0 ")
       (comment "MemData62 = 0 ")
       (comment "MemData236 = 0 ")
       (comment "MemData61 = 0 ")
       (comment "MemData235 = 0 ")
       (comment "MemData60 = 0 ")
       (comment "MemData234 = 0 ")
       (comment "MemData233 = 0 ")
       (comment "MemData232 = 0 ")
       (comment "MemData231 = 0 ")
       (comment "Create_RLOCs_for_TBUFs = false ")
       (comment "MemData230 = 0 ")
       (comment "MemData199 = 0 ")
       (comment "MemData198 = 0 ")
       (comment "MemData197 = 0 ")
       (comment "MemData196 = 0 ")
       (comment "MemData195 = 0 ")
       (comment "MemData194 = 0 ")
       (comment "MemData193 = 0 ")
       (comment "MemData192 = 0 ")
       (comment "MemData191 = 0 ")
       (comment "MemData190 = 0 ")
       (comment "MemData59 = 0 ")
       (comment "MemData58 = 0 ")
       (comment "MemData57 = 0 ")
       (comment "MemData56 = 0 ")
       (comment "MemData55 = 0 ")
       (comment "MemData229 = 0 ")
       (comment "MemData54 = 0 ")
       (comment "MemData228 = 0 ")
       (comment "MemData53 = 0 ")
       (comment "MemData227 = 0 ")
       (comment "MemData52 = 0 ")
       (comment "MemData226 = 0 ")
       (comment "MemData51 = 0 ")
       (comment "MemData225 = 0 ")
       (comment "MemData50 = 0 ")
       (comment "MemData224 = 0 ")
       (comment "MemData223 = 0 ")
       (comment "MemData222 = 0 ")
       (comment "MemData221 = 0 ")
       (comment "MemData220 = 0 ")
       (comment "MemData189 = 0 ")
       (comment "MemData188 = 0 ")
       (comment "MemData187 = 0 ")
       (comment "MemData186 = 0 ")
       (comment "Address_Width = 4 ")
       (comment "MemData185 = 0 ")
       (comment "MemData184 = 0 ")
       (comment "MemData183 = 0 ")
       (comment "MemData182 = 0 ")
       (comment "MemData181 = 0 ")
       (comment "MemData180 = 0 ")
       (comment "MemData49 = 0 ")
       (comment "MemData48 = 0 ")
       (comment "MemData47 = 0 ")
       (comment "MemData46 = 0 ")
       (comment "MemData45 = 0 ")
       (comment "MemData219 = 0 ")
       (comment "MemData44 = 0 ")
       (comment "MemData218 = 0 ")
       (comment "MemData43 = 0 ")
       (comment "MemData217 = 0 ")
       (comment "MemData42 = 0 ")
       (comment "MemData216 = 0 ")
       (comment "MemData41 = 0 ")
       (comment "MemData215 = 0 ")
       (comment "MemData40 = 0 ")
       (comment "MemData214 = 0 ")
       (comment "MemData213 = 0 ")
       (comment "MemData212 = 0 ")
       (comment "MemData211 = 0 ")
       (comment "MemData210 = 0 ")
       (comment "MemData179 = 0 ")
       (comment "MemData178 = 0 ")
       (comment "MemData177 = 0 ")
       (comment "MemData176 = 0 ")
       (comment "MemData175 = 0 ")
       (comment "MemData174 = 0 ")
       (comment "MemData173 = 0 ")
       (comment "MemData172 = 0 ")
       (comment "MemData171 = 0 ")
       (comment "MemData170 = 0 ")
       (comment "MemData39 = 0 ")
       (comment "MemData38 = 0 ")
       (comment "MemData37 = 0 ")
       (comment "MemData36 = 0 ")
       (comment "MemData35 = 0 ")
       (comment "MemData209 = 0 ")
       (comment "MemData34 = 0 ")
       (comment "MemData208 = 0 ")
       (comment "MemData33 = 0 ")
       (comment "MemData207 = 0 ")
       (comment "MemData32 = 0 ")
       (comment "MemData206 = 0 ")
       (comment "MemData31 = 0 ")
       (comment "MemData205 = 0 ")
       (comment "MemData30 = 0 ")
       (comment "MemData204 = 0 ")
       (comment "MemData203 = 0 ")
       (comment "MemData202 = 0 ")
       (comment "MemData201 = 0 ")
       (comment "MemData200 = 0 ")
       (comment "MemData169 = 0 ")
       (comment "MemData168 = 0 ")
       (comment "MemData167 = 0 ")
       (comment "MemData166 = 0 ")
       (comment "MemData165 = 0 ")
       (comment "MemData164 = 0 ")
       (comment "MemData163 = 0 ")
       (comment "MemData162 = 0 ")
       (comment "MemData161 = 0 ")
       (comment "MemData160 = 0 ")
       (comment "MemData29 = 0 ")
       (comment "MemData28 = 0 ")
       (comment "MemData27 = 0 ")
       (comment "MemData26 = 0 ")
       (comment "MemData25 = 0 ")
       (comment "MemData24 = 0 ")
       (comment "MemData23 = 0 ")
       (comment "MemData22 = 0 ")
       (comment "MemData21 = 0 ")
       (comment "MemData20 = 0 ")
       (comment "MemData159 = 0 ")
       (comment "MemData158 = 0 ")
       (comment "MemData157 = 0 ")
       (comment "MemData156 = 0 ")
       (comment "MemData155 = 0 ")
       (comment "MemData154 = 0 ")
       (comment "MemData153 = 0 ")
       (comment "MemData152 = 0 ")
       (comment "MemData151 = 0 ")
       (comment "MemData9 = 223 ")
       (comment "MemData150 = 0 ")
       (comment "MemData8 = 151 ")
       (comment "MemData7 = 162 ")
       (comment "MemData6 = 74 ")
       (comment "MemData5 = 162 ")
       (comment "MemData4 = 10 ")
       (comment "MemData3 = 201 ")
       (comment "MemData2 = 156 ")
       (comment "MemData1 = 196 ")
       (comment "MemData19 = 0 ")
       (comment "MemData0 = 1 ")
       (comment "MemData18 = 0 ")
       (comment "MemData17 = 0 ")
       (comment "MemData16 = 0 ")
       (comment "MemData15 = 0 ")
       (comment "MemData14 = 79 ")
       (comment "MemData13 = 19 ")
       (comment "MemData12 = 0 ")
       (comment "MemData11 = 0 ")
       (comment "MemData10 = 0 ")
       (comment "MemData149 = 0 ")
       (comment "MemData148 = 0 ")
       (comment "MemData147 = 0 ")
       (comment "MemData146 = 0 ")
       (comment "MemData145 = 0 ")
       (comment "MemData144 = 0 ")
       (comment "MemData143 = 0 ")
       (comment "MemData142 = 0 ")
       (comment "MemData141 = 0 ")
       (comment "MemData140 = 0 ")
       (comment "InstanceName = op_ram_8x16 ")
       (comment "MemData139 = 0 ")
       (comment "MemData138 = 0 ")
       (comment "MemData137 = 0 ")
       (comment "MemData136 = 0 ")
       (comment "MemData135 = 0 ")
       (comment "MemData134 = 0 ")
       (comment "MemData133 = 0 ")
       (comment "MemData132 = 0 ")
       (comment "MemData131 = 0 ")
       (comment "MemData130 = 0 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port VCC (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port GROUND (direction OUTPUT))
               )
           )
       )
       (cell FDCE (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port C (direction INPUT))
                   (port CE (direction INPUT))
                   (port D (direction INPUT))
                   (port Q (direction OUTPUT))
                   (port CLR (direction INPUT))
               )
           )
       )
       (cell RAM16X1S (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port A0 (direction INPUT))
                   (port A1 (direction INPUT))
                   (port A2 (direction INPUT))
                   (port A3 (direction INPUT))
                   (port WE (direction INPUT))
                   (port WCLK (direction INPUT))
                   (port D (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell op_ram_8x16
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( rename a_0_ "a<0>") (direction INPUT))
   (port ( rename a_1_ "a<1>") (direction INPUT))
   (port ( rename a_2_ "a<2>") (direction INPUT))
   (port ( rename a_3_ "a<3>") (direction INPUT))
   (port ( rename d_0_ "d<0>") (direction INPUT))
   (port ( rename d_1_ "d<1>") (direction INPUT))
   (port ( rename d_2_ "d<2>") (direction INPUT))
   (port ( rename d_3_ "d<3>") (direction INPUT))
   (port ( rename d_4_ "d<4>") (direction INPUT))
   (port ( rename d_5_ "d<5>") (direction INPUT))
   (port ( rename d_6_ "d<6>") (direction INPUT))
   (port ( rename d_7_ "d<7>") (direction INPUT))
   (port ( rename we "we") (direction INPUT))
   (port ( rename c "c") (direction INPUT))
   (port ( rename ce "ce") (direction INPUT))
   (port ( rename q_0_ "q<0>") (direction OUTPUT))
   (port ( rename q_1_ "q<1>") (direction OUTPUT))
   (port ( rename q_2_ "q<2>") (direction OUTPUT))
   (port ( rename q_3_ "q<3>") (direction OUTPUT))
   (port ( rename q_4_ "q<4>") (direction OUTPUT))
   (port ( rename q_5_ "q<5>") (direction OUTPUT))
   (port ( rename q_6_ "q<6>") (direction OUTPUT))
   (port ( rename q_7_ "q<7>") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU0
      (viewRef view_1 (cellRef RAM16X1S (libraryRef xilinxun)))
      (property RLOC (string "r3c0.F"))
      (property INIT (string "6309"))
   )
   (instance BU1
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r3c0.FFX"))
   )
   (instance BU2
      (viewRef view_1 (cellRef RAM16X1S (libraryRef xilinxun)))
      (property RLOC (string "r3c0.G"))
      (property INIT (string "63f0"))
   )
   (instance BU3
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r3c0.FFY"))
   )
   (instance BU4
      (viewRef view_1 (cellRef RAM16X1S (libraryRef xilinxun)))
      (property RLOC (string "r2c0.F"))
      (property INIT (string "4306"))
   )
   (instance BU5
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r2c0.FFX"))
   )
   (instance BU6
      (viewRef view_1 (cellRef RAM16X1S (libraryRef xilinxun)))
      (property RLOC (string "r2c0.G"))
      (property INIT (string "425c"))
   )
   (instance BU7
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r2c0.FFY"))
   )
   (instance BU8
      (viewRef view_1 (cellRef RAM16X1S (libraryRef xilinxun)))
      (property RLOC (string "r1c0.F"))
      (property INIT (string "2304"))
   )
   (instance BU9
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r1c0.FFX"))
   )
   (instance BU10
      (viewRef view_1 (cellRef RAM16X1S (libraryRef xilinxun)))
      (property RLOC (string "r1c0.G"))
      (property INIT (string "00a0"))
   )
   (instance BU11
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r1c0.FFY"))
   )
   (instance BU12
      (viewRef view_1 (cellRef RAM16X1S (libraryRef xilinxun)))
      (property RLOC (string "r0c0.F"))
      (property INIT (string "424a"))
   )
   (instance BU13
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r0c0.FFX"))
   )
   (instance BU14
      (viewRef view_1 (cellRef RAM16X1S (libraryRef xilinxun)))
      (property RLOC (string "r0c0.G"))
      (property INIT (string "03ae"))
   )
   (instance BU15
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r0c0.FFY"))
   )
   (net (rename N2 "a<0>")
    (joined
      (portRef a_0_)
      (portRef A0 (instanceRef BU0))
      (portRef A0 (instanceRef BU2))
      (portRef A0 (instanceRef BU4))
      (portRef A0 (instanceRef BU6))
      (portRef A0 (instanceRef BU8))
      (portRef A0 (instanceRef BU10))
      (portRef A0 (instanceRef BU12))
      (portRef A0 (instanceRef BU14))
    )
   )
   (net (rename N3 "a<1>")
    (joined
      (portRef a_1_)
      (portRef A1 (instanceRef BU0))
      (portRef A1 (instanceRef BU2))
      (portRef A1 (instanceRef BU4))
      (portRef A1 (instanceRef BU6))
      (portRef A1 (instanceRef BU8))
      (portRef A1 (instanceRef BU10))
      (portRef A1 (instanceRef BU12))
      (portRef A1 (instanceRef BU14))
    )
   )
   (net (rename N4 "a<2>")
    (joined
      (portRef a_2_)
      (portRef A2 (instanceRef BU0))
      (portRef A2 (instanceRef BU2))
      (portRef A2 (instanceRef BU4))
      (portRef A2 (instanceRef BU6))
      (portRef A2 (instanceRef BU8))
      (portRef A2 (instanceRef BU10))
      (portRef A2 (instanceRef BU12))
      (portRef A2 (instanceRef BU14))
    )
   )
   (net (rename N5 "a<3>")
    (joined
      (portRef a_3_)
      (portRef A3 (instanceRef BU0))
      (portRef A3 (instanceRef BU2))
      (portRef A3 (instanceRef BU4))
      (portRef A3 (instanceRef BU6))
      (portRef A3 (instanceRef BU8))
      (portRef A3 (instanceRef BU10))
      (portRef A3 (instanceRef BU12))
      (portRef A3 (instanceRef BU14))
    )
   )
   (net (rename N6 "d<0>")
    (joined
      (portRef d_0_)
      (portRef D (instanceRef BU0))
    )
   )
   (net (rename N7 "d<1>")
    (joined
      (portRef d_1_)
      (portRef D (instanceRef BU2))
    )
   )
   (net (rename N8 "d<2>")
    (joined
      (portRef d_2_)
      (portRef D (instanceRef BU4))
    )
   )
   (net (rename N9 "d<3>")
    (joined
      (portRef d_3_)
      (portRef D (instanceRef BU6))
    )
   )
   (net (rename N10 "d<4>")
    (joined
      (portRef d_4_)
      (portRef D (instanceRef BU8))
    )
   )
   (net (rename N11 "d<5>")
    (joined
      (portRef d_5_)
      (portRef D (instanceRef BU10))
    )
   )
   (net (rename N12 "d<6>")
    (joined
      (portRef d_6_)
      (portRef D (instanceRef BU12))
    )
   )
   (net (rename N13 "d<7>")
    (joined
      (portRef d_7_)
      (portRef D (instanceRef BU14))
    )
   )
   (net (rename N14 "we")
    (joined
      (portRef we)
      (portRef WE (instanceRef BU0))
      (portRef WE (instanceRef BU2))
      (portRef WE (instanceRef BU4))
      (portRef WE (instanceRef BU6))
      (portRef WE (instanceRef BU8))
      (portRef WE (instanceRef BU10))
      (portRef WE (instanceRef BU12))
      (portRef WE (instanceRef BU14))
    )
   )
   (net (rename N15 "c")
    (joined
      (portRef c)
      (portRef WCLK (instanceRef BU0))
      (portRef C (instanceRef BU1))
      (portRef WCLK (instanceRef BU2))
      (portRef C (instanceRef BU3))
      (portRef WCLK (instanceRef BU4))
      (portRef C (instanceRef BU5))
      (portRef WCLK (instanceRef BU6))
      (portRef C (instanceRef BU7))
      (portRef WCLK (instanceRef BU8))
      (portRef C (instanceRef BU9))
      (portRef WCLK (instanceRef BU10))
      (portRef C (instanceRef BU11))
      (portRef WCLK (instanceRef BU12))
      (portRef C (instanceRef BU13))
      (portRef WCLK (instanceRef BU14))
      (portRef C (instanceRef BU15))
    )
   )
   (net (rename N16 "ce")
    (joined
      (portRef ce)
      (portRef CE (instanceRef BU1))
      (portRef CE (instanceRef BU3))
      (portRef CE (instanceRef BU5))
      (portRef CE (instanceRef BU7))
      (portRef CE (instanceRef BU9))
      (portRef CE (instanceRef BU11))
      (portRef CE (instanceRef BU13))
      (portRef CE (instanceRef BU15))
    )
   )
   (net (rename N17 "q<0>")
    (joined
      (portRef q_0_)
      (portRef Q (instanceRef BU1))
    )
   )
   (net (rename N18 "q<1>")
    (joined
      (portRef q_1_)
      (portRef Q (instanceRef BU3))
    )
   )
   (net (rename N19 "q<2>")
    (joined
      (portRef q_2_)
      (portRef Q (instanceRef BU5))
    )
   )
   (net (rename N20 "q<3>")
    (joined
      (portRef q_3_)
      (portRef Q (instanceRef BU7))
    )
   )
   (net (rename N21 "q<4>")
    (joined
      (portRef q_4_)
      (portRef Q (instanceRef BU9))
    )
   )
   (net (rename N22 "q<5>")
    (joined
      (portRef q_5_)
      (portRef Q (instanceRef BU11))
    )
   )
   (net (rename N23 "q<6>")
    (joined
      (portRef q_6_)
      (portRef Q (instanceRef BU13))
    )
   )
   (net (rename N24 "q<7>")
    (joined
      (portRef q_7_)
      (portRef Q (instanceRef BU15))
    )
   )
   (net N81
    (joined
      (portRef O (instanceRef BU0))
      (portRef D (instanceRef BU1))
    )
   )
   (net N82
    (joined
      (portRef O (instanceRef BU2))
      (portRef D (instanceRef BU3))
    )
   )
   (net N83
    (joined
      (portRef O (instanceRef BU4))
      (portRef D (instanceRef BU5))
    )
   )
   (net N84
    (joined
      (portRef O (instanceRef BU6))
      (portRef D (instanceRef BU7))
    )
   )
   (net N85
    (joined
      (portRef O (instanceRef BU8))
      (portRef D (instanceRef BU9))
    )
   )
   (net N86
    (joined
      (portRef O (instanceRef BU10))
      (portRef D (instanceRef BU11))
    )
   )
   (net N87
    (joined
      (portRef O (instanceRef BU12))
      (portRef D (instanceRef BU13))
    )
   )
   (net N88
    (joined
      (portRef O (instanceRef BU14))
      (portRef D (instanceRef BU15))
    )
   )
))))
(design op_ram_8x16 (cellRef op_ram_8x16 (libraryRef test_lib))
  (property PART (string "4013EPQ240-3") (owner "Xilinx")))
)
